* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    flex-basis: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222943;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    padding-top: 100px;

}

header{
    height: 70px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 20px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    user-select: none;

}

.box-ricerca.hide{
    display: none;
}

header .box-ricerca{
    margin-bottom: 0px;
}

.box-ricerca{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.box-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height:300px;
    width:200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.card-details{
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    z-index: 2;
    padding: 10px;
    display: none;
}

.card-details.hidden{
    visibility: hidden;
}

.cast-details.active{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index:5;
}

.cast-details{
    padding: 10px;
}

.actor-name{
    font-size: 13px;
    margin-top: 4px;
}

.actor-name.no-cast.hide{
    display: none;
}

button.info-cast, .cast-details.active button.indietro{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid white;
    background-color: #ffffff00;
    border-radius: 5px;
    color: white;
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 600;

}

input.input-query-box{
    width: 300px;
    background-color: #222943;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid white;
    color: white;
}

button.search-button{
    border: none;
    background-color: #222943;
    font-size: 20px;
    color: white;
    transform: translateX(-35px);
    cursor: pointer;
}

span{
    color: #fff;
}

span.flag{

}

span.flag.altra{
    background-color: #fff;
}

.flag img{
    height: 30px;
    position: relative;

}

.hai-cercato{
    display: none;
    margin: 10px auto;
    text-align: center;

}

img.poster{
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;

}

.trama{
    margin-top: 10px;
    max-height: 130px;
    overflow-y: auto;
}

.trama::-webkit-scrollbar {
display: none;
}

.trama {
    scrollbar-width: none;
}

@media screen and (max-width:655px){
    header{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hai-cercato{

        margin-top: 30px;
    }
}

/* filtro genere ===========*/

#filtro-generi .genere.show{
    display: block;
}
#filtro-generi .genere.hide{
    display: none;
}

/* inserimento w3s====
======================= */
/* Dropdown Button */
.filtra-btn {
 background-color: #4CAF50;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

/* Dropdown button on hover & focus */
.filtra-btn:hover, .filtra-btn:focus {
 background-color: #3e8e41;
}

/* The search field */
#input-filter {
 box-sizing: border-box;
 background-image: url('searchicon.png');
 background-position: 14px 12px;
 background-repeat: no-repeat;
 font-size: 16px;
 padding: 14px 20px 12px 45px;
 border: none;
 border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#input-filter:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
 position: relative;
 display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f6f6f6;
 min-width: 230px;
 border: 1px solid #ddd;
 z-index: 1;
}

/* Links inside the dropdown */
#filtro-generi a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
#filtro-generi a:hover {background-color: #f1f1f1}
